<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:requestLegacyExternalStorage="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Photo Album"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Album90"
        tools:targetApi="34">
        <activity
            android:name=".Photos"
            android:exported="true">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OpenController"/>
        <activity android:name=".DeleteController"/>
        <activity android:name=".CreateController"/>
        <activity android:name=".RenameController"/>
        <activity android:name=".SearchController"/>
        <activity android:name=".AlbumController"/>
        <activity android:name=".MoveController"/>
        <activity android:name=".DisplayController"/>
        <activity android:name=".TagController"/>
        <activity android:name=".SlideshowController"/>
    </application>






</manifest>